@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mooli', sans-serif;
}
:root{
  --primary:#772f1a;
  --secondary1: #eb6541;
  --secondary2: #f2a65a;
}
